@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* .swiper {
  width: 100%;
  height: 100%;
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .border-gradient {
    /* absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-tr from-amber-500 to-fuchsia-600 rounded-full */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to top right,
      theme("backgroundColor.amber.500"),
      theme('backgroundColor.fuchsia.600')
    );
    border-radius: 50%;
  }

  .border-gray{
     /* absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-tr from-amber-500 to-fuchsia-600 rounded-full */
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #dbdbdb;
     border-radius: 50%;
  }
}

